*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
}
